<div class="jumbotron">
		<h1>Welcome to Dash!</h1>
		<p></p>
		<form>
			<div class="input-group input-group-lg">
			  <span class="input-group-addon"><i class="fa fa-user"></i></span>
			  <input type="text" class="form-control" placeholder="Username">
			</div>
			<br>

			<div class="input-group input-group-lg">
			  <span class="input-group-addon"><i class="fa fa-key"></i></span>
			  <input type="text" class="form-control" placeholder="Password">
			</div>
			<br>

			<a class="btn btn-info btn-block" role="button" href="/auth/provider">Log me in</a>

		</form>

</div>